body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    border-radius: 100px;
    width: 960px;
    height: 50px;
    margin: 0 auto;
}

header > h1 {
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: white;
}

#container {
    width: 960px;
    margin: auto;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.box {
    border: 1px solid lightgray;
    border-radius: 15px;

    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
    padding-bottom: 15px;
}

.box > p {
    text-align: justify;
}

.box > figure > img {
    width: 100%;
    height: 150px;
}

.box > figure > figcaption {
    font-size: 14px;
    text-align: center;
}

hr {
    border: none;
    height: 3px;

    color: black;
    background-color: black;
}
